
<div class="container space-2">
    <div class="row">

        <div class="col-md-3">

            <!--<div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>-->
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Genres</h4>
                </div>
            
                <ul class="list-group list-group-flush genres-container">
                    <li ng-click="selectGenre($index)" ng-repeat="genre in genres" class="list-group-item genre-item">{{genre.name}}</li>
                </ul>

            </div>

        </div>

        <div class="col-md-9">

            <form ng-submit="onSearch(title)">
                <div class="input-group">
                    <input ng-model="title" type="text" class="form-control" placeholder="Enter title name...">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
                </div>
            </form>

            <h3 class="space-2-sm">Search results for "Moana" </h3>
            
            <div class="flex-container">

                <div class="movie-item" ng-repeat="movie in movies">
                    <img class="card-img card-img-top img-fluid" src=" {{ 'http://image.tmdb.org/t/p/w342' + movie.poster_path }}" >
                </div>

            </div>

        </div>

    </div>
</div>

<!--<div class="container-fluid">
    <div class="row">

         
        <div ng-repeat="movie in movies" class="col-sm-2">
            <img class="card-img card-img-top img-fluid" src=" {{ 'http://image.tmdb.org/t/p/w342' + movie.poster_path }}" >
            <div class="card">
                <div class="card-block">
                    <p class="card-title">{{movie.title}}</p>
                </div>
            </div>
        </div>


    </div>
</div>-->
        <!--/pZC9HA9ngsG68vsGzwZwpSYFnDh.jpg-->
