<div class="jumbotron">
    <div class="container">
        <h3>Catalog Page</h3>
    </div>
</div>

<div class="container space">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form ng-submit="onSearch(title)">
                <div class="input-group">
                    <input ng-model="title" type="text" class="form-control" placeholder="Enter title name...">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
                </div>
            </form>
            
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <div class="row">

         
        <div ng-repeat="movie in movies" class="col-sm-2">
            <img class="card-img card-img-top img-fluid" src=" {{ 'http://image.tmdb.org/t/p/w342' + movie.poster_path }}" >
            <div class="card">
                <div class="card-block">
                    <p class="card-title">{{movie.title}}</p>
                </div>
            </div>
        </div>


    </div>
</div>-->
        <!--/pZC9HA9ngsG68vsGzwZwpSYFnDh.jpg-->
<div class="flex-container">

    <div class="movie-item" ng-repeat="movie in movies">
        <img class="card-img card-img-top img-fluid" src=" {{ 'http://image.tmdb.org/t/p/w342' + movie.poster_path }}" >
        <!--<div class="card">
            <div class="card-block">
                <p class="card-title">{{movie.title}}</p>
            </div>
        </div>-->
    </div>

</div>
