<div class="container">


    <div class="row space-2"> 

        <div class="col-md-3">
            <div class="card genre-shadow">
                <div class="card-block genre-block">
                    <h4 class="card-title white">My Profile</h4>
                </div>

                <ul class="list-group list-group-flush genres-container">
                    <li ui-sref="profile({userId: userId, profilePage: 'movie-watchlist'})" class="list-group-item genre-item">My Movie Watchlist</li>
                    <li ui-sref="profile({userId: userId, profilePage: 'favorite-movies'})" class="list-group-item genre-item">My Favorite Movies</li>
                    <li class="list-group-item genre-item">Settings</li>
                </ul>

            </div>
        </div>

        <div class="col-md-9">
            <!--<form ng-submit="onSearch(title)">
                <div class="input-group">
                    <input ng-model="title" type="text" class="form-control" placeholder="Enter title name...">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
                </div>
            </form>-->
            <div class="card profile-title genre-shadow">
                <div class=" white card-block genre-block">
                    <h2 class="white">{{pageTitle}}</h2>
                </div>
            </div>

            <div class="flex-container space-2-sm">

                <div ng-mousemove="setModalCoord()"  ng-mouseenter="hoverMovie(movie, $index)" ng-mouseleave="leaveMovie()" class="movie-item" ng-repeat="movie in movies">
                    <a ui-sref="movie({movieId: movie.id})">
                        <img class="card-img card-img-top img-fluid" src=" {{ 'http://image.tmdb.org/t/p/w342' + movie.poster_path }}" >
                        <p class="mi-title white">{{movie.title}}</p>
                    </a>
                </div>

            </div>

        </div>
    </div>

</div>

<div ng-cloak ng-mouseleave="leaveModal()" ng-mouseover="overMovieModal()" ng-show="showMovieModal()" ng-style="movieModal" class="movie-modal col-md-3 card">
    <p class="space-top">{{modalMovie.title}}</p>
    <!--<hr>    -->
    <p class="small">{{modalMovie.overview}}</p>
    <p class="small">Rating: <span class="tag tag-warning">{{modalMovie.vote_average}}</span></p>
    <button ng-show="addWatchListBtn" ng-click="addToWatchlist()" class="form-control btn btn-primary br-0">Add to Watchlist</button>
    <button ng-show="addFavBtn" ng-click="addToFavorites()" class="form-control btn btn-success small br-0">Add to Favorites</button>
    <button ng-show="delWatchListBtn" ng-click="deleteFromWatchlist()" class="form-control btn btn-danger br-0 space-btm">Delete from Watchlist</button>
    <button ng-show="delFavBtn" ng-click="deleteFromFavorites()" class="form-control btn btn-danger br-0 space-btm">Delete from Favorites</button>
</div>

<div ng-click="removeBtmModal()" ng-class="alertStatus" ng-show="btmModalMsg" class="modal-btm-container alert p-0 br-0">
    <div class="container">
        <div ng-class="alertStatus" class="col-md-12 offset-md-1 alert m-0 br-none">
            <p class="lead m-0"><span class="alert-link">{{modalSuccess}} </span> {{btmModalMsg}}</p>
        </div>
    </div>
</div>
