<div class="container">
    <div class="row">

        <div class="col-md-9 space-2">
            <form ng-submit="onSearch(title)">
                <div class="input-group">
                    <input ng-model="title" type="text" class="form-control" placeholder="Enter title name...">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
                </div>
            </form>
        </div>
        
    </div>
    <div>
        

        <div class="movie-header" ng-style="myObj">
            <div class="movie-header-content">

                

                
                    <div class="main-movie-card card col-md-4">
                        
                        <img class="main-movie-card-img img-fluid" src="{{'http://image.tmdb.org/t/p/w342/' + poster_path}}" alt="">

                    </div>
                    
                    <div class="movie-main-details col-md-7">
                        <h1 class="display-5 white">{{movieTitle}}</h1>
                        <hr class="white-hr">
   
                        <p class="col-md-10 small white">
                            {{overview}}
                        </p>
                    </div>
                    


            </div>
            <div class="darken-parallax"></div>
        </div>

            <div class="row">

                <div class="col-md-5">

                </div>
                <div ng-repeat="castMember in castMembers" class="col-md-2">
                    <img class="cast-img card-img-top img-fluid" src="{{'http://image.tmdb.org/t/p/w342/' + castMember.profile_path}}" alt="Card image">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{castMember.character}}</h4>
                            <h6 class="card-subtitle text-muted">{{castMember.name}}</h6>
                        </div>
                        <div class="card-block">
                            <a href="#" class="card-link">Card link</a>
                        </div>
                    </div>
                </div>

            </div>

        

    </div>
</div>