<div class="container p-0-rl">
    <div class="row">

        <div class="col-md-9 space-2-sm">
            <!--<form ng-submit="onSearch(title)">
                <div class="input-group">
                    <input ng-model="title" type="text" class="form-control" placeholder="Enter title name...">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
                </div>
            </form>-->
        </div>

    </div>
    <div>


        <div class="movie-header" ng-style="myObj">
            <div class="movie-header-content">

                <div class="main-movie-card card col-md-4">
                    <img class="main-movie-card-img img-fluid" src="{{'http://image.tmdb.org/t/p/w342/' + poster_path}}" alt="">
                </div>

                <div class="movie-main-details col-md-7">
                    <h1 class="display-5 white">{{movieTitle}} ({{titleReleaseDate}})</h1>
                    <span ng-repeat="genre in genres" class="tag tag-danger genre-tag">{{genre.name}}</span>
                    <hr class="white-hr">
                    <p class="col-md-10 small white p-0-left">{{overview}}</p>
                </div>

            </div>
            <div class="darken-parallax"></div>
        </div>

        <div class="row">
            <div class="push-md-4 col-md-8 details-bar">
                <button ng-click="addToWatchlist()" class="col-md-6 btn btn-primary br-0" type="button">Add To Watchlist</button>
                <button ng-click="addToFavorites()" class="col-md-6 btn btn-success br-0" type="button">Favorite</button>
            </div>
        </div>



        <div class="flex-container">
            
            <div class="col-md-5 p-0-left">

                <div class="card genre-shadow">
                    <div class="card-block genre-block">
                        <h4 class="white card-title">Videos, Teasers, & Trailers</h4>
                    </div>
                    <ul class="list-group list-group-flush genres-container">
                        <li ng-click="playVideo(video.key)" ng-repeat="video in videos" class="list-group-item genre-item">{{video.name}}</li>
                    </ul>
                </div>


            </div>
            <div class="col-md-7 p-0-right">

                <h2 class="lead">Main Cast:</h2>
                <div ng-repeat="castMember in castMembers" class="col-md-3 card cast-card">
                    <img class="cast-img card-img-top img-fluid" src="{{'http://image.tmdb.org/t/p/w342/' + castMember.profile_path}}" alt="Card image">

                    <div class="card-block p-10">
                        <p class="lead">{{castMember.character}}</p>
                        <p class="small">{{castMember.name}}</h6>
                            <br/>

                            <a href="#" class="card-link align-right">View Details...</a>
                    </div>

                </div>


                <hr>
            </div>
        </div>


    </div>
</div>
<div ng-show="modalMsg" ng-click="exitModal()" class="modal-container">
    <div ng-class="alertStatus" class="text-center modal-msg col-md-6 alert">
        <p><span class="lead alert-link">{{modalSuccess}}! </span> {{modalMsg}}</p>
    </div>
</div>

<div ng-if="videoModal" ng-click="exitVideoModal()" class="modal-container">

    <div class="modal-msg modal-padding col-md-8 p-0-rl">

        <div class="video-trailer embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" ng-src="{{ trailerUrl(videoSrc) }}" allowfullscreen></iframe>
        </div>
    </div>

</div>